<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cyn.mapper.CmsOrderMapper">
    <select id="getOrderList" resultType="com.cyn.pojo.OrderInformation" parameterType="java.lang.Long">
        select
            a.id,a.customer_id,b.account,b.nicky_name,c.id,c.name,c.price,a.state_id
        from
            cms_order as a
        inner join
            cms_customer as b
        on
            a.customer_id = b.id
        inner join
            pms_product as c
        on
            a.product_id = c.id
    </select>
</mapper>
